/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #15091a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #57068c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a045e;
}
